@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600');

.student #menu>ul::before {
    background-image: url("images/weedydrip.jpg");

  }

:root {
    background-color: darkblue !important;
    background: darkblue !important;
  }

body,
html {
    font-family: Rubik, sans-serif !important;
  }


#menu, div.sub{
  background-image: linear-gradient(blue, indigo, blueviolet);
}

#title {
  background-image: linear-gradient(to right,blue, indigo, blueviolet)
}

#main{
    color:blueviolet;
}

div.MessageList__MessageList___3DxoC {
  background-color: black;
}

div.MessageActions__MessageActions___HBFsu, #title, #menu {
  background-image: url(images/flametail.png) !important;
}

li.item{
  color: black;
}
/* comment test here */