@import url('https://fonts.googleapis.com/css?family=Rubik:300,400,500,600');


.student #menu>ul::before {
    background-image: url("images/weedydrip.jpg");

  }

:root {
    background-color: darkblue !important;
    background: darkblue !important;
  }

body,
html {
    font-family: Rubik, sans-serif;
  }


#menu, div.sub{
  background-image: linear-gradient(blue, indigo, blueviolet) !important;
}


#menu li {
  position: relative;
}

#menu li:hover {
  z-index: 9999 !important;
  
}

#menu li.item.hasChildren label{
  color:cyan !important;
}

#menu .nav{
  background: rgba(255,255,255,0) !important;
}

#menu {
  width:500px;

}

#menu li > label{
  color:red !important;
}



#content {
  left:30px;
}

#menu li{
  padding:5px;
}

#title {
  background-image: linear-gradient(to right,blue, indigo, blueviolet)
}

#main{
    color:blueviolet;
}


div.MessageList__MessageList___3DxoC{
  background-color: rgb(39, 39, 39);
}

#title{
  color: red;
}

div.MessageActions__MessageActions___HBFsu, div.Viewer__sidebar___1Btu4, div.ReadingPane__ReadingPane___QEtL8 {
  background-color: rgb(3, 25, 150);
}

div.sub {
  color: rgb(255, 0, 0) !important;

}
/* for later
.programmeNavigator {

}

*/ 
/* a little bit of trolling
div.MessageActions__MessageActions___HBFsu, #title, #menu {
  background-image: url(images/talulah.png) !important;
}
*/
